$blue: #006dc7;
$circ: 3;

circle { transform-origin: bottom; }

@for $i from 1 through $circ {
  circle:nth-of-type(#{$i}) {
    animation: fadeUp 1.35s .15s*$i ease infinite;
  }
}

@keyframes fadeUp {
  0% {
    transform:
      scale(.8)
      translateY(50%);
    opacity: 0;
  }
  30% {
    transform:
      scale(1)
      translateY(0);
    opacity: 1;
  }
  70% {
    transform:
      scale(1)
      translateY(0);
    opacity: 1;
  }
  90%, 100% {
    transform:
      scale(1.4)
      translateY(-50%);
    opacity: 0;
  }
}

html, body { height: 100%; }
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue;
}