/* Contacts navigation */

.contacts-nav ul {
	padding: 0 10px 0 25px;
	margin-bottom: 9px;
	list-style-type: 0;
}

.contacts-nav li {
	display: inline !important;
	margin-right: 20px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
}

.contacts-nav li a {
	color:	#706c72;
}

.contacts-nav li a:hover {
	color: #bababa;
}

.contacts-nav li.active a {
	color: #bababa;
}

.contacts-nav li:last-child {
	float: right;
	margin: 0;
}


.contacts-nav li img.arrow-down {
	float: right;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.contacts-nav li:last-child svg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.contacts-nav li:last-child svg path {
	fill: #bababa;
}
