.form-control,
footer {
    display: block
}
.btn,
.dj {
    text-align: center
}
.btn,
button {
    cursor: pointer
}
.btn,
.ut .uv,
img {
    vertical-align: middle
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}
/*! normalize.bu v3.0.3 | MIT License | github.com/necolas/normalize.bu */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
a:active,
a:hover {
    outline: 0
}
img {
    border: 0
}
button,
input {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.bu */

@media print {
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: none
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    a[href^="#"]:after {
        content: ""
    }
    img {
        page-break-inside: avoid;
        max-width: 100%!important
    }
}
*,
:after,
:before {
    box-sizing: border-box
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}
body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;

}
button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
.btn,
.form-control {
    padding: 6px 12px;
    line-height: 1.6;
    background-image: none
}
a {
    background-color: transparent;
    color: #3097d1;
    text-decoration: none
}
a:focus,
a:hover {
    color: #216a94;
    text-decoration: none;
}
a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}
.dp {
    color: #9da9b0
}
.form-control {
    width: 100%;
    height: 36px;
    font-size: 14px;
    color: #536570;
    background-color: #fff;
    border: 1px solid #d4dbe0;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: none
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0
}
.form-control::-moz-placeholder {
    color: #9da9b0;
    opacity: 1
}
.form-control:-ms-input-placeholder {
    color: #9da9b0
}
.form-control::-webkit-input-placeholder {
    color: #9da9b0
}
.form-control::-ms-expand {
    border: 0;
    background-color: transparent
}
.et {
    margin-bottom: 15px
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.btn:active:focus,
.btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}
.btn:focus,
.btn:hover {
    color: #536570;
    text-decoration: none
}
.btn:active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
.fm {
    color: #536570;
    background: linear-gradient(-90deg, #fefefe, #f0f0f0) !important;
    border-color: #d4dbe0
}
.fm:active,
.fm:focus,
.fm:hover {
    background: linear-gradient(-90deg, #f0f0f0,#e6e6e6 ) !important;
    color: #536570
}
.fm:focus {
    border-color: #8a9dab
}
.fm:active,
.fm:hover {
    border-color: #b0bdc6
}
.fm:active:focus,
.fm:active:hover {
    color: #536570;
    background-color: #d4d4d4;
    border-color: #8a9dab
}
.fm:active {
    background-image: none
}
.fp {
    color: #fff;
    background: linear-gradient(to right, #3f9dec, #a637ca) !important;
    border-color: #a637ca;
}
.fp:active,
.fp:focus,
.fp:hover {
    background: linear-gradient(to right, #255e8d, #74268d) !important;
    color: #fff
}
.fp:focus {
    border-color: #133d55
}
.fp:active,
.fp:hover {
    border-color: #1f648b
}
.fp:active:focus,
.fp:active:hover {
    color: #fff;
    background-color: #1f648b;
    border-color: #133d55
}
.fp:active {
    background-image: none
}
.gb {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
.gb:after,
.gb:before {
    content: " ";
    display: table
}
.gb:after {
    clear: both
}
@-ms-viewport {
    width: device-width
}
body {
    font-weight: 300;
    letter-spacing: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/background-texture.png) repeat center center scroll;
}
.btn {
    font-size: 14px;
    text-transform: default;
    letter-spacing: none
}
.form-control:focus {
    color: #000;
    background-color: #fff;
    box-shadow: none
}
.ut {
    display: table;
    width: 100%;
    height: 100vh
}
.ut .uv {
    display: table-cell
}
@font-face {
    font-family: toolkit-entypo;
    src: url(../fonts/toolkit-entypo.eot);
    src: url(../fonts/toolkit-entypo.eot?#iefix) format('eot'), url(../fonts/toolkit-entypo.woff2) format('woff2'), url(../fonts/toolkit-entypo.woff) format('woff'), url(../fonts/toolkit-entypo.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}
.alq {
    margin-right: auto!important;
    margin-left: auto!important
}
.alu {
    margin-bottom: 30px!important
}
.amb {
    margin-bottom: 60px!important
}
.j {
    max-width: 280px;
    margin-top: -60px
}
.l {
    width: 40%;
    display: inline-block
}
.l img {
    width: 100%
}