circle {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

circle:nth-of-type(1) {
  -webkit-animation: fadeUp 1.35s 0.15s ease infinite;
          animation: fadeUp 1.35s 0.15s ease infinite;
}

circle:nth-of-type(2) {
  -webkit-animation: fadeUp 1.35s 0.3s ease infinite;
          animation: fadeUp 1.35s 0.3s ease infinite;
}

circle:nth-of-type(3) {
  -webkit-animation: fadeUp 1.35s 0.45s ease infinite;
          animation: fadeUp 1.35s 0.45s ease infinite;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.8) translateY(50%);
            transform: scale(0.8) translateY(50%);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: scale(1.4) translateY(-50%);
            transform: scale(1.4) translateY(-50%);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: scale(0.8) translateY(50%);
            transform: scale(0.8) translateY(50%);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: scale(1.4) translateY(-50%);
            transform: scale(1.4) translateY(-50%);
    opacity: 0;
  }
}
html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #006dc7;
}
